$FS:.5rem;
$FS2:.7rem;
$FS3:.9rem;

$FM:1rem;
$FM1:1.1rem;
$FM2:1.2rem;
$FM3:1.3rem;
$FM4:1.4rem;
$FM5:1.5rem;

$FL1:1.6rem;
$FL2:1.7rem;
$FL3:1.8rem;
$FL4:1.9rem;
$FL5:2rem;

$FXL1:2.1rem;
$FXL2:2.2rem;
$FXL3:2.3rem;
$FXL4:2.4rem;
$FXL5:2.5rem;

$FXxL1:2.6rem;
$FXxL2:2.7rem;
$FXxL3:2.8rem;
$FXxL4:2.9rem;
$FXxL5:3rem;